<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <h1 class="component-text"><span>Sumis Daily Lifestyle</span></h1>
    <span class="component-text1">
      <span class="component-text2">
        The Cooking channel and blogging Channel of Sumi. All types of recipies
        uploaded In this channel
      </span>
      <br />
    </span>
    <div class="component-container1">
      <div class="component-container2">
        <div class="primary-pink-button-container">
          <button class="primary-pink-button-button button ButtonSmall">
            <span>Subscribe</span>
          </button>
        </div>
      </div>
      <div class="outline-gray-button-container">
        <button class="outline-gray-button-button button ButtonSmall">
          <span>read more</span>
        </button>
      </div>
    </div>
  </div>
</div>
